<%- include('../partials/header') %>

<!-- FANCY IMAGE -->
<section class="banner">
    <div id="background" style="background-image: url(/img/banner.jpg);"></div>
    <div class="banner-content">
        <div>
            <h1>Légzőtorna</h1>
        </div>
        <img src="/img/icons/026-down-arrow.svg" width="64px" height="64px">
    </div>
</section>

<%- include('../partials/navbar') %>
<%- include('../partials/messagebar') %>

<div class="container content">
    <div class="row intro">
        <div class="col-12 col-md-4 text-center">
            <div class="">
                <img src="/img/front.jpg" class="image-fluid" width="250px" height="auto">
                <p class="text-center" id="signature">
                    <span class="handwritten">Dr. Kerti Mária</span><br>
                    A LÉGZŐTORNA DVD megálmodója
                </p>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <p >
                Dr. Kerti Mária 1994-ben végzett gyógytornászként.<br>
                2000-ben az ELTE-n Antropológus-Humánbiológus diplomát,<br>
                2019-ben a Semmelweis Egyetem doktori iskoláján Ph.D. fokozatot szerzett.<br>
                1994 óta az Országos Korányi Pulmonológiai Intézetben dolgozik.<br>
                Pulmonológiai gyógytornával, ezen belül 2008 óta légzés-rehabilitációval foglalkozik.<br>
                Oktat, publikál, rendszeresen előad hazai és nemzetközi szakmai konferenciákon.
            </p>
            <!-- <p>
                Gyógytornászként a legjobb tudásom szerint, minden igyekezetemmel segítem a hozzám érkező betegeket. Mindent megteszek az egészségük megőrzéséért, sikeres rehabilitációjukért. Gyógyító munkámban a hírnév és a meggazdagodási vágy nem kápráztat el. A DVD ára minden Ember számára elérhető kell, hogy legyen! Ezért annak minőségét nem a kedvező ára határozza meg! Tisztelem az emberi életet, ezért soha nem teszek különbséget a bizalommal hozzám forduló páciensek között. Tudásomat folyamatosan gyarapítom, hogy a beteg érdekében mindig a leghatékonyabb gyógymódot válasszam. Betartom az összegyűjtött, nagy múltú eljárásokat, de figyelemmel kísérem az innovatív eljárásokat is, betegeim érdekeit szem előtt tartva. Utamon mindenkor a naprakészség, a szeretet, az emberség vezérelt és vezérelni fog!<br> Az Országos Korányi Pulmonológiai Intézetben dolgozom.
            </p> -->
        </div>
    </div>
    <div class="row">
        <div class="col-12 description wide text-center">
            <img src="/img/icons/001-lungs.svg" width="64px" height="64px">
            <h5 class="title">Több oxigént!</h5>
            <p>
                A LÉGZŐTORNA DVD légző-, nyújtó és izomerősítő gyakorlatokat tartalmaz, melyek rendszeres végzése a tapasztalatok szerint növeli a vitálkapacitást. A nagyobb vitálkapacitás miatt több oxigén jut a szervezetünkbe.
            </p>
            <p>
                A több oxigén hatására aktívabbak leszünk, javul a közérzetünk, kevésbé fulladunk. A gyakorlatok rugalmasabbá teszik a mellkast és a gerincet, ezáltal a testtartást is javítják.
            </p>
        </div>
    </div>
    <div class="row video" style="margin-top:10vh;">
        <div class="col-12 text-center description wide mt-3">
            <!-- video description -->
            <!--  -->
            <img src="/img/icons/028-dvd.svg" width="64px" height="64px">
            <h5 class="title">A LÉGZŐTORNA DVD</h5>
            <p>
                A légzés szerve a tüdő, de a tüdőt a légzőizmok működtetik.
                Egészséges tüdővel is lehet felszínesen, rossz hatékonysággal lélegezni,
                és beteg tüdő esetén is javítható a légzés hatékonysága a légzőizmok fejlesztésével.
                <!-- A lemezen egy 35 perces gyakorlatsor található, mely eredményesen használható COPD, asztma és mellkasi deformitások esetén, valamint mellkasi műtétek utáni rehabilitációban. -->
            </p>
            <p>
                A LÉGZŐTORNA DVD-n több, mint 50 percnyi komplex légzőtorna (légző-, nyújtó és izomerősítő gyakorlatok, valamint rekeszizom erősítés) található.
                <!-- A LÉGZŐTORNA DVD légző-, nyújtó és izomerősítő gyakorlatokat tartalmaz, melyek rendszeres végzése a tapasztalatok szerint növeli a vitálkapacitást. -->
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-12 description wide text-center">
            <img src="/img/icons/036-team.svg" width="64px" height="64px">
            <h5 class="title">Kinek ajánljuk a LÉGZŐTORNA DVD-t?</h5>
            <ul>
                <li>
                    COVID-19 fertőzés alatt a gyakorlatok segíthetnek abban, hogy elkerüljük a gépi lélegeztetést
                </li>
                <li>
                    COVID-19 fertőzés után a rehabilitáció fontos eleme a légzőtorna, mely hozzájárulhat az életminőség javulásához
                </li>
                <li>
                    COPD és ASZTMA esetén a gyakorlatok javítják a vitálkapacitást, csökkentik a nehézlégzést
                </li>
                <li>
                    Mellkasi műtétek után segítenek az anatómiai viszonyok rendezésében és a fájdalom csökkentésében
                </li>
                <li>
                    Intersticiális tüdőbetegségeknél rendezik a légzés mélységét és ritmusát
                </li>
            </ul>
        </div>
    </div>
</div>

<%- include('../partials/footerbar') %>
<%- include('../partials/footer') %>
