<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<%- include('../partials/messagebar') %>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <button id="cart" class="btn" data-toggle="modal" data-target="#cartModal">
                <img src="/img/icons/003-buy.svg" height="64px" width="auto">
                <span class="badge badge-pill badge-danger">0</span>
            </button>


        </div>
    </div>
    <div class="row">
        <% products.forEach(product => { %>
            <div class="col-12 col-md-6">
                <div class="card m-1">
                    <% if(product.images && product.images.length > 0) { %>
                        <img class="card-img-top" src="<%= product.images[0] %>" alt="Card image cap">
                    <% } %>
                    <div class="card-body">
                        <h5 class="card-title"><%= product.title %></h5>
                        <p class="card-text"><%- product.description ? product.description : null %></p>
                        <p class="text-center font-weight-bold addToCart"><%= product.price %> Ft - <button class="btn btn-sm btn-light" data-id="<%= product._id %>">Kosárba!</button></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Kosár</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="col-12">
                        <div class="cart">
                            <ul class="list-group" id="cart">

                            </ul>
                            <p>Összesen: <span id="price" class="font-weight-bold"></span> Ft</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <a href="/vasarlas/checkout" class="btn btn-light">Tovább <img src="/img/icons/027-next.svg" height="16px" width="auto"></a>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footerbar') %>
<%- include('../partials/footer') %>

<script type="text/javascript" src="/js/shop.js"></script>
